/* You can add global styles to this file, and also import other style files */

body{
    //background: linear-gradient(90deg, rgba(83, 148, 86, 1) 0%, rgba(7, 141, 193, 1) 100%);
    font-family: 'PlayFair Display', serif !important;
    background-color: rgba(63, 185, 145, 0.541);
    color: white;
}

